<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>STYLiSH 2021</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/cart.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="../javascripts/common.js" type="text/javascript"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.5.1"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="flex-start">
          <div id="logo-stylish">
            <a href="/">
              <img
                src="../images/logo.png"
                alt="STYLiSH Logo"
                width="258"
                height="48"
              />
            </a>
          </div>
          <div class="nav-categories">
            <h3>女 裝</h3>
            <hr class="category-break" />
            <h3>男 裝</h3>
            <hr class="category-break" />
            <h3>配 件</h3>
          </div>
        </div>

        <div class="flex-end">
          <div><input id="search" /></div>
          <div>
            <a href="/cart.html">
              <div class="icon-cart">
                <div class="count">0</div>
              </div>
            </a>
          </div>
          <div>
            <a href="/profile.html"><div class="icon-profile"></div></a>
          </div>
        </div>
      </nav>

      <div class="flex-center-grey"></div>
    </header>

    <main>
      <div id="cart">
        <div class="header">
          <div class="title" id="title">購物車(0)</div>
          <div class="item__quantity">數量</div>
          <div class="item__price">單價</div>
          <div class="item__subtotal">小計</div>
          <div class="item__remove"></div>
        </div>
        <div class="items" id="items"></div>
        <div class="shipment">
          <div class="shipment__name">配送國家</div>
          <select class="shipment__select">
            <option>台灣及離島</option>
          </select>
          <div class="shipment__name">付款方式</div>
          <select class="shipment__select">
            <option>信用卡付款</option>
          </select>
        </div>
        <div class="reminder">
          ※ 提醒您：<br />
          ● 選擇宅配-請填寫正確收件人資訊，避免包裹配送不達<br />
          ● 選擇超商-請填寫正確收件人姓名(與證件相符)，避免無法領取
        </div>
        <div class="form-header">訂購資料</div>
        <div class="form">
          <div class="field">
            <label class="field__name" for="name">收件人姓名</label>
            <div class="field__input"><input id="name" type="text" /></div>
          </div>
          <div class="field">
            <label class="field__name" for="email">Email</label>
            <div class="field__input"><input id="email" type="text" /></div>
          </div>
          <div class="field">
            <label class="field__name" for="phone">手機號碼</label>
            <div class="field__input"><input id="phone" type="text" /></div>
          </div>
          <div class="field">
            <label class="field__name" for="address">收件地址</label>
            <div class="field__input"><input id="address" type="text" /></div>
          </div>
          <div class="field">
            <div class="field__name" for="time">配送時間</div>
            <div class="field__input">
              <input
                type="radio"
                value="morning"
                id="morning"
                name="time"
                checked="checked"
              />
              <label for="morning">08:00-12:00</label>
              <input
                type="radio"
                value="afternoon"
                id="afternoon"
                name="time"
              />
              <label for="afternoon">14:00-18:00</label>
              <input type="radio" value="anytime" id="anytime" name="time" />
              <label for="anytime">不指定</label>
            </div>
          </div>
        </div>
        <div class="form-header">付款資料</div>
        <div class="form">
          <div class="field">
            <label class="field__name" for="card">信用卡號碼</label>
            <div class="field__input">
              <div class="tpfield" id="card-number"></div>
            </div>
          </div>
          <div class="field">
            <label class="field__name" for="expire">有效期限</label>
            <div class="field__input">
              <div class="tpfield" id="card-expiration-date"></div>
            </div>
          </div>
          <div class="field">
            <label class="field__name" for="ccv">安全碼</label>
            <div class="field__input">
              <div class="tpfield" id="card-ccv"></div>
            </div>
          </div>
        </div>
        <div class="summary">
          <div class="subtotal" id="subtotal">
            <div class="name">總金額</div>
            <div class="value">NT.<span id="subtotal-price">0</span></div>
          </div>
          <div class="freight">
            <div class="name">運費</div>
            <div class="value">NT.<span>60</span></div>
          </div>
          <div class="total" id="total">
            <div class="name">應付金額</div>
            <div class="value">NT.<span id="total-price">60</span></div>
          </div>
          <button id="checkout">確認付款</button>
        </div>
      </div>
    </main>

    <footer>
      <nav>
        <ul>
          <div>關於 Stylish</div>
          <div>服務條款</div>
          <div>隱私政策</div>
          <div>聯絡我們</div>
          <div>FAQ</div>
        </ul>
      </nav>
      <div class="links">
        <img src="./images/line.png" />
        <img src="./images/twitter.png" />
        <img src="./images/facebook.png" />
      </div>
      <div class="rights">© 2021. All rights reserved.</div>
    </footer>
  </body>

  <script>
    updateCartQty();
    updateCartQtyTable();
    tappayInit();

    function updateCartQtyTable() {
      let cartArr = localStorage.getItem("cart");
      if (cartArr === null) {
        cartArr = [];
      } else {
        cartArr = JSON.parse(cartArr);
      }

      const cartCount = document.querySelector("#title");
      cartCount.innerHTML = `購物車(${cartArr.length})`;

      const colorMapReverse = {
        FFFFFF: "White",
        FFDDDD: "Pink",
        DDFFBB: "Green",
        DDF0FF: "Blue",
        CCCCCC: "Grey",
        BB7744: "Brown",
        334455: "DarkBlue",
      };

      const itemsElement = document.querySelector("#items");
      let subtotal = 0;
      // start add element into itemsElement
      for (let eachItem of cartArr) {
        let eachItemElement = `<div class="item" id="item-${eachItem.id}">
          <img
            class="item__image"
            src="${eachItem.image}"
          />
          <div class="item__detail">
            <div class="item__name">${eachItem.name}</div>
            <div class="item__id">${eachItem.id}</div>
            <div class="item__color">顏色｜${
              colorMapReverse[eachItem.color]
            }</div>
            <div class="item__size">尺寸｜${eachItem.size}</div>
          </div>
          <div class="item__quantity">
            <div class="mobile-text">數量</div>
            <select id="quantity-${eachItem.id}">
            </select>
          </div>
          <div class="item__price">
            <div class="mobile-text">單價</div>
            NT.${eachItem.price}
          </div>
          <div class="item__subtotal">
            <div class="mobile-text">小計</div>
            NT.${eachItem.price * eachItem.qty}
          </div>
          <div class="item__remove" id="remove-${
            eachItem.id
          }"><img src="../images/cart-remove.png" /></div>
        </div>`;
        subtotal += parseInt(`${eachItem.price * eachItem.qty}`);
        itemsElement.insertAdjacentHTML("afterbegin", eachItemElement);
        // need to insert quantity
        let idQuantity = document.querySelector(`#quantity-${eachItem.id}`);
        for (let i = 1; i <= eachItem.stock; i += 1) {
          let eachQty;
          if (i === eachItem.qty) {
            eachQty = `<option value="${i}" selected="selected">${i}</option>`;
          } else {
            eachQty = `<option value="${i}">${i}</option>`;
          }
          idQuantity.insertAdjacentHTML("afterbegin", eachQty);
        }

        // add event listner to each remove item
        let itemRemoveButton = document.querySelector(`#remove-${eachItem.id}`);
        itemRemoveButton.addEventListener("mousedown", (e) => {
          let variant = {
            id: parseInt(`${eachItem.id}`),
            color: `${eachItem.color}`,
            size: `${eachItem.size}`,
          };
          removeItemCart(variant);
        });

        // add event listner to quantity select
        let quantitySelect = document.querySelector(`#quantity-${eachItem.id}`);
        quantitySelect.addEventListener("change", (e) => {
          let variant = {
            id: parseInt(`${eachItem.id}`),
            color: `${eachItem.color}`,
            size: `${eachItem.size}`,
            qty: parseInt(e.target.value),
          };
          updateItemCart(variant);
        });
      }
      // update subtotal and total price
      let subtotalPriceElement = document.querySelector(`#subtotal-price`);
      subtotalPriceElement.innerHTML = subtotal;
      let totalPriceElement = document.querySelector(`#total-price`);
      totalPriceElement.innerHTML = subtotal + 60;

      // add event listner to quantity select
      let checkoutButton = document.querySelector(`#checkout`);
      checkoutButton.addEventListener("mousedown", (e) => {
        checkoutStart();
      });
    }

    function updateItemCart(variant) {
      let cartArr = localStorage.getItem("cart");
      if (cartArr === null) {
        cartArr = [];
      } else {
        cartArr = JSON.parse(cartArr);
      }

      let newCartArr = [];
      for (let item of cartArr) {
        let conditionId = item.id !== variant.id;
        let conditionColor = item.color !== variant.color;
        let conditionSize = item.size !== variant.size;
        if (conditionId || conditionColor || conditionSize) {
          newCartArr.push(item);
        } else {
          item.qty = variant.qty;
          newCartArr.push(item);
        }
      }
      if (newCartArr) {
        localStorage.setItem("cart", JSON.stringify(newCartArr));
      } else {
        localStorage.removeItem("cart");
      }
      alert(`更改選購數量`);
      window.location.href = "/cart.html";
    }

    function removeItemCart(variant) {
      let cartArr = localStorage.getItem("cart");
      if (cartArr === null) {
        cartArr = [];
      } else {
        cartArr = JSON.parse(cartArr);
      }

      let newCartArr = [];
      for (let item of cartArr) {
        let conditionId = item.id !== variant.id;
        let conditionColor = item.color !== variant.color;
        let conditionSize = item.size !== variant.size;
        if (conditionId || conditionColor || conditionSize) {
          newCartArr.push(item);
        }
      }
      if (newCartArr.length) {
        localStorage.setItem("cart", JSON.stringify(newCartArr));
      } else {
        localStorage.removeItem("cart");
      }
      alert("已從購物車移除");
      window.location.href = "/cart.html";
    }

    function tappayInit() {
      let APP_ID = 12348;
      let APP_KEY =
        "app_pa1pQcKoY22IlnSXq5m5WP5jFKzoRG58VEXpT7wU62ud7mMbDOGzCYIlzzLF";

      TPDirect.setupSDK(APP_ID, APP_KEY, "sandbox");

      // Display ccv field
      let fields = {
        number: {
          // css selector
          element: "#card-number",
          placeholder: "**** **** **** ****",
        },
        expirationDate: {
          // DOM object
          element: document.getElementById("card-expiration-date"),
          placeholder: "MM / YY",
        },
        ccv: {
          element: "#card-ccv",
          placeholder: "ccv",
        },
      };

      TPDirect.card.setup({
        fields: fields,
        styles: {
          // Style all elements
          input: {
            color: "gray",
          },
          // Styling ccv field
          "input.ccv": {
            // 'font-size': '16px'
          },
          // Styling expiration-date field
          "input.expiration-date": {
            // 'font-size': '16px'
          },
          // Styling card-number field
          "input.card-number": {
            // 'font-size': '16px'
          },
          // style focus state
          ":focus": {
            // 'color': 'black'
          },
          // style valid state
          ".valid": {
            color: "green",
          },
          // style invalid state
          ".invalid": {
            color: "red",
          },
          // Media queries
          // Note that these apply to the iframe, not the root window.
          "@media screen and (max-width: 400px)": {
            input: {
              color: "orange",
            },
          },
        },
      });
    }

    function checkoutStart() {
      let access_token = localStorage.getItem("access_token");
      if (access_token === null) {
        alert("請先登入會員喔！");
        return;
      }

      let cartArr = localStorage.getItem("cart");
      if (cartArr === null) {
        alert("購物車沒有東西喔");
        return;
      } else {
        cartArr = JSON.parse(cartArr);
      }

      for (let elementId of ["#name", "#email", "#phone", "#address"]) {
        if (!document.querySelector(elementId).value) {
          alert(
            "請輸入完整資料！（姓名、Email、手機號碼、收件地址、配送時間）"
          );
          return;
        }
      }

      TPDirect.card.getPrime(function (result) {
        if (result.status !== 0) {
          console.log("getPrime 錯誤");
          alert("信用卡輸入資訊錯誤！");
          return;
        }
        // alert("getPrime 成功");
        var prime = result.card.prime;

        // get delivery time
        let deliveryTime;
        for (let elementId of ["#morning", "#afternoon", "#anytime"]) {
          if (document.querySelector(elementId).checked) {
            deliveryTime = document.querySelector(elementId).value;
          }
        }

        let orderData = {
          prime: prime,
          order: {
            shipping: "delivery",
            payment: "credit_card",
            subtotal: parseInt(
              document.querySelector(`#subtotal-price`).innerHTML
            ),
            freight: 60,
            total: parseInt(document.querySelector(`#total-price`).innerHTML),
            recipient: {
              name: document.querySelector("#name").value,
              phone: document.querySelector("#phone").value,
              email: document.querySelector("#email").value,
              address: document.querySelector("#address").value,
              time: deliveryTime,
            },
            list: [],
          },
        };

        const colorMapReverse = {
          FFFFFF: "White",
          FFDDDD: "Pink",
          DDFFBB: "Green",
          DDF0FF: "Blue",
          CCCCCC: "Grey",
          BB7744: "Brown",
          334455: "DarkBlue",
        };

        let itemInOrderData;
        for (let item of cartArr) {
          itemInOrderData = {
            id: item.id,
            name: item.name,
            price: item.price,
            color: {
              code: item.color,
              name: colorMapReverse[item.color],
            },
            size: item.size,
            qty: item.qty,
          };
          orderData.order.list.push(itemInOrderData);
        }

        $.ajax({
          type: "POST",
          url: "/api/1.0/order/checkout",
          data: JSON.stringify(orderData),
          contentType: "application/json",
          headers: {
            authorization: window.localStorage.getItem("access_token"),
          },
          success: function (r) {
            console.log(r);
            if (r.result.msg == "Success") {
              alert("付款成功");
              localStorage.removeItem("cart");
              localStorage.setItem("orderId", r.orderId);
              window.location.href = "/thankyou.html";
            } else {
              alert("付款失敗");
            }
          },
          error: function (e) {
            console.log("some error:", e);
            if (e.status === 401) {
              alert("登入過期，請重新登入");
            }
          },
        });
      });
    }
  </script>
</html>
